<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title">Meus Alertas</h4>
        <ol class="breadcrumb">
            <p class="text-muted m-b-20 font-13"><a href="#" class="waves-effect"><i class="icon-social-youtube fa-3x"></i></a> Tutorial</p>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-sm-12">
                <div class="card-box">
                    <div class="row">
                        <div class="col-xs-12 col-md-4 form-group">
                            <busca-produto-diretiva ao-escolher-produto-callback="aoEscolherProduto" limpar-produto="limparProduto"></busca-produto-diretiva>
                        </div>
                        <div class="col-xs-12 col-md-4 form-group">
                            <label class="control-label"></label>
                            <button ng-disabled="!produtoSelecionado" class="btn btn-default waves-effect waves-light" ng-click="adicionarAlerta(produtoSelecionado)" style="display: block;"><i class="fa fa-plus"></i> Adicionar</button>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table wt-responsive-table class="table table-striped">
                                <thead>
                                <th>Produto</th>
                                <th>(R$) Valor Alerta</th>
                                <th></th>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in alertas">
                                    <td>{{item.produto.formatado}}</td>
                                    <td><input class="form-control text-right" type="text" step="0.01" ng-model="item.valorAlerta" ui-money-mask></td>
                                    <td>
                                    <td align="right">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-xs btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 100%">
                                                Ações <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu pull-right">
                                                <li><a ng-click="excluirAlerta(item)"><i class="fa fa-remove"></i> Excluir </a></li>
                                            </ul>
                                        </div>
                                    </td>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="pull-right">
                                <a class="pull-right btn btn-default btn-sm waves-effect waves-light" ng-click="salvarListaAlertas(alertas)"><i class="fa fa-save"></i> Salvar </a></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>