<div class="row">
    <div class="col-xs-12">
        <label class="control-label"></label>
        <ui-select ui-disable-choice ng-model="selecionado.produto" class="{{loading?'options-loading':''}}" on-select="aoSelecionarProduto(selecionado.produto)" theme="bootstrap" ng-disabled="disabled" reset-search-input="false">
            <ui-select-match placeholder="Selecione...">{{$select.selected.formatado}}</ui-select-match>
            <ui-select-choices repeat="produto in produtos | filter: $select.search"
                               refresh="aoDigitarDescricao($select.search)"
                               refresh-delay="0">
                <span ng-bind-html="produto.formatado | highlight: $select.search">{{produto.formatado}}</span>
            </ui-select-choices>
        </ui-select>
    </div>
</div>